* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  font-size: 2rem;
}

.main-container {
  background-image: linear-gradient(to top left, #753682 0%, #bf2e34 100%);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}

.player {
  background-color: rgba(255, 255, 255, 0.555);
  height: 85vh;
  width: 40vw;
  opacity: 0.5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-transform: uppercase;
}

.player.one {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.player.two {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.active-player {
  opacity: 1;
}

button {
  font-size: 2rem;
  margin: 5px;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  border-radius: 30px;
  border: 0;
  padding: 9px;
  font-size: 1.1rem;
  text-transform: uppercase;
  opacity: 0.8;
  cursor: pointer;
}

#dice-img {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

#restart {
  top: 10%;
}

#dice {
  bottom: 20%;
}

#hold {
  bottom: 10%;
}

#dice-img {
  top: 40%;
}

img {
  width: 100px;
}

.hide {
  display: none;
}

.current-container {
  border-radius: 10px;
  background-color: #c7365f;
  width: 40%;
  color: white;
}

.current-container h4 {
  font-size: 1rem;
  font-weight: lighter;
  padding: 10px 0;
}

.current-container h5 {
  font-size: 2rem;
  padding: 7px 0;
}

.points {
  font-size: 5rem;
  color: #c7365f;
  font-weight: lighter;
}

.winner {
  background-color: #2f2f2f;
}

.winner > h2 {
  color: #c7365f;
  font-size: 2.2rem;
  margin-top: 80px;
}

#banner {
  margin: 5px;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  border-radius: 20px;
  border: 0;
  padding: 8px;
  font-size: 3rem;
  width: 600px;
  text-transform: uppercase;
  opacity: 0.8;
  background-color: white;
}

.dismiss-banner {
  font-size: 1.3rem;
  background-color: grey;
  border-radius: 10px;
  color: white;
  padding: 7px;
  cursor: pointer;
}

.dismiss-banner:hover {
  background-color: rgb(77, 77, 77);
  transition: all 1s;
}
